<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Usted ha recibido una solicitud de frasco especial por el usuario boris</h1>
    <p>
      Mensaje: <%= @comentario %>.<br>
    </p>
    <p>Mensaje enviado desde servicio instantaneo.</p>
  </body>
</html>