<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Usted ha recibido una solicitud de frasco especial por el usuario <%= @nombre %> <%= @apellido%></h4>
    <p>
      Mensaje: <%= @comentario %>.<br>
    </p>
    <p>Mensaje enviado desde servicio instantaneo <%= @email %>. </p>
  </body>
</html>