<div id="page-wrapper" style="padding:50px 0">
  <div class="container-fluid">
    <%= render 'shared/menu_paciente', tituloVentana: 'Listado de Frascos' %>

    <div class="row" style="padding-top:25px">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Solicitud de vacunas</h4>
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
